.main-color {background-color: #000;color: #fff;}
.i-color {color: #FFC107;}

.cb-ico {
  height: 16px;
  width: 16px;
  margin: 0 3px;
}
.cb-ico-s {
  height: 20px;
  width: 20px;
  margin: 0 4px;
}
.cb-ico-m {
  height: 25px;
  width: 25px;
  margin: 0 4px;
}
.cb-ico-l {
  height: 32px;
  width: 32px;
  margin: 0 4px;
}
.cb-ico-bl {
  height: 64px;
  width: 64px;
  margin: 0 4px;
}

.cb-filter-grey {
  -webkit-filter: grayscale(0.75);
  filter: gray;
  filter: grayscale(0.75);
}
.cb-filter-grey:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

.cb-ltr {direction: ltr;}
.cb-rtl {direction: rtl;}


/* Mega Menu */
@media screen and ( min-width: 500px ) {

  .main-navigation ul:hover li ul,
  .main-navigation ul:hover li ul li ul {
    display: inherit;
  }

  .main-navigation {
    position: relative;
  }
  .main-navigation li {
    position: static;
  }
  .main-navigation ul li:hover ul {
    display: inherit;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
  }
  .main-navigation ul li:hover ul li ul {
    display: inherit;
    position: relative;
    left: 0;
  }

  .main-navigation {
      position: relative;
  }
  .main-navigation li {
      position: static;
  }
  .main-navigation ul li:hover ul {
      display: inherit;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
  }
  .main-navigation ul li:hover ul li ul {
      display: inherit;
      position: relative;
      left: 0;
  }
  .main-navigation ul li:hover ul {
      display: inherit;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      background-color: #bababa;
  }
  .main-navigation ul:hover ul li a:link,
  .main-navigation ul:hover ul li a:visited {
      color: #b01b1b;
      text-decoration: underline;
  }
  .main-navigation ul:hover ul li ul li a:link,
  .main-navigation ul:hover ul li ul li a:visited {
      color: #fff;
      text-decoration: none;
  }
  .main-navigation ul:hover ul li ul li a {
      padding-left: 1em;
      padding-top: 0;
  }
  
}
