.main-color {background-color: #000;color: #fff;}
.i-color {color: #FFC107;}

.cb-ico {
  height: 16px;
  width: 16px;
  margin: 0 3px;
}
.cb-ico-s {
  height: 20px;
  width: 20px;
  margin: 0 4px;
}
.cb-ico-m {
  height: 25px;
  width: 25px;
  margin: 0 4px;
}
.cb-ico-l {
  height: 32px;
  width: 32px;
  margin: 0 4px;
}
.cb-ico-bl {
  height: 64px;
  width: 64px;
  margin: 0 4px;
}

.cb-filter-grey {
  -webkit-filter: grayscale(0.75);
  filter: gray;
  filter: grayscale(0.75);
}
.cb-filter-grey:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

.cb-ltr {direction: ltr;}
.cb-rtl {direction: rtl;}


/* Flyout Menu */
.fly-menu {
  line-height: 50px;
  margin-right: -30px;
  z-index: 99999;
}
.fly-menu ul {
  margin:0 -40px 0 0;
  list-style-type: none;
  list-style: none;
  list-style-image: none;
}
.fly-menu li {position: relative;}
.fly-menu > ul > li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
.fly-menu li:hover {background-color: rgba(200,200,200,0.2);}
@keyframes slideDown{
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fly-menu ul ul {
    border-top: 5px solid rgba(0,0,0,0.9);
    display: none;
    position: absolute;
    top: 50px;
    right: 40px;
    z-index: 99999;
    width: 180px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}
.fly-menu ul li:hover > ul {
    display: block;
    animation: slideDown 0.5s
}
.fly-menu ul ul li {
  display: block;
  margin:0 -40px 0 0;
  padding-right: 10px;
}
.fly-menu > ul > li:hover > ul > li {position: relative;}
.fly-menu > ul > li:hover > ul > li:hover ul {
  margin:0;
  top: 0;
  right: 100%;
}

@media only screen and (max-width: 600px) {
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .fly-menu li {width: 100%;}
  .fly-menu ul ul {
    width: 100%;
    top:50px;
    right: 40px;
  }
  .fly-menu > ul > li:hover > ul > li:hover ul {
    margin:0;
    top: 100%;
    right: 0;
  }
}
/* Mega Menu */

/* Pagenation */
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: #fff;
    text-decoration:none;
}

.navigation li {
    display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: #6FB7E9;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}

.navigation li a:hover,
.navigation li.active a {
    background-color: #3C8DC5;
}
